streamlit
numpy
Pillow==11.2.1
torch==2.6.0+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.21.0+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html